<section class="sidebar">
  <section class="widget user-widget profile-user-widget">
    <div class="user-info">
      <a href="<%= '#/users/' + TwitterClone.currentUser.id %>" class="user-full-name"><%= TwitterClone.currentUser.escape("full_name") %></a>
      <a href="<%= '#/users/' + TwitterClone.currentUser.id %>" class="user-username">@<%= TwitterClone.currentUser.escape("username") %></a>
    </div>
    <div class="dashboard-tweet-form"></div>
  </section>
</section>

<section class="stream-container">
</section>