<main>
  <section class="sidebar">
    <section class="widget dashboard-user-widget">
      <div class="user-info">
        <a href="<%= "#/users/" + user.id %>" class="user-full-name"><%= user.full_name %></a>
        <a href="<%= "#/users/" + user.id %>" class="user-username">@<%= user.username %></a>
      </div>
    </section>
  </section>

  <section class="stream">
  <header class="stream-header">Tweets</header>
  </section>
</main>