<%= form_for tweet, html: {class: "tweet-form"} do %>
  <% if tweet.conversation_parent_id %>
    <input type="hidden" name="tweet[conversation_parent_id]" value="<%= tweet.conversation_parent_id %>">
  <% end %>
  <textarea name="tweet[content]" placeholder="<%= tweet.conversation_parent_id ? "Reply to @#{tweet.conversation_parent.author.username}" : "Compose a tweet..."%>"><%= tweet.content %></textarea>
  <button class="main-button">Tweet</button>
<% end %>