body {
  padding-top: $navbar-height;
  background-image: image-url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left $navbar-height;
  box-sizing: border-box;
  background-color: $main-bg-color;
}

#backbone {
  height: 100%;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.navbar {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 1000;
  position: fixed;
  background: white;
  top: 0;
  width: 100%;
  height: $navbar-height;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  line-height: $navbar-line-height;

  & > nav {
    @include clearfix;
    max-width: $site-width;
    padding: $navbar-vertical-padding 0;
    margin: 0 auto;

    & > .left {
      float: left;
    }

    & > .right {
      float: right;
    }
  }

  a {
    display: block;
  }

  .logo {
    font-size: $base-font-size;
    color: $logo-color;
    margin: 0 auto;
    padding: 0;
    width: 100px;
  }

  & > nav > ul {
    @include clearfix;

    & > li {
      float: left;
      & + li {
        margin-left: 15px;
      }
    }
  }
}

.dropdown {
  & > ul {
    display: none;
    background: white;
    width: 158px;
    position: absolute;
    top: 100%;
    border-radius: $border-radius;
    @include box-shadow;
    z-index: 1001;

    & > li {
      padding: 10px;
    }

    button {
      background: transparent;
      border: 0;
      padding: 0;
      margin: 0;
    }

    & > li:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &:hover > ul {
    display: block
  }
}

.signin-form, .signup-form {
  width: 500px;
  padding: $padding;
  background: #fff;
  margin: $padding auto;
  border-radius: $border-radius
}

.main-button {
  padding: 0 10px;
  background: $main-button-bg;
  color: white;
}

.navbar button {
  height: $navbar-line-height;
  line-height: $navbar-line-height;
}

.main-button:hover {
  @include background( $main-button-bg-hover);
}

.main-button:active {
  background: $main-button-bg-active;
}



main {
  @include clearfix;
  width: $site-width;
  margin: 0 auto;
  padding: $padding 0
}

.sidebar {
  float: left;
  width: $sidebar-width;
}

.stream {
  float: right;
  width: $site-width - $sidebar-width - $padding;
  margin-left: $padding;
  border-radius: $border-radius;
}

.tweet-show > .stream {
  float: none;
  margin: 0 auto;
}

.tweet-show .main-tweet {

}

.tweet-show-stream {
  float: none;
  margin: 0 auto;

  & > .tweet:first-child {
    @include rounded-top;  
  }
}

.stream-header {
  background: white;
  font-weight: $light-font-weight;
  font-size: $largest-font-size;
  line-height: 1;
  @include rounded-top;
  border-bottom: 1px solid $border-color;
  border: 1px solid $border-color;
  padding: $padding;
  color: $lighter-text-color;
}

.tweet {
  background: $main-tweet-bg-color;
  border: 1px solid $border-color;
  border-top: 0;
  padding: $padding;
}

.main-tweet {
  cursor: pointer;
}

.tweet-show .main-tweet {
  cursor: auto;
}

.conversation:not(.expanded) > .main-tweet > .tweet:hover {
  background: $secondary-bg-color;
}

.tweet.secondary {
  background: $secondary-bg-color;
}

.tweet > header {
  & > a > strong {
    color: $text-color;
    font-weight: bold;
  }

  & > a:hover > strong {
    text-decoration: underline;
    color: $link-color;
  }

  & small, & small > a {
    color: $lightest-text-color;
    font-size: $small-font-size;
  }
}

.tweet > footer {
  padding-top: $padding;

  & > form {
    display: inline-block;
    padding-right: 30px;
  }
}

.tweet-figure {
  border-radius: $border-radius;
  max-height: 256px;
  margin-top: $padding;
  overflow: hidden;
}

.expanded > .main-tweet .tweet-figure {
  max-height: none;
  border-radius: 0;
}



.transparent-button {
  display: inline;
  background: transparent;
  border: 0;
  padding: 0;
  line-height: inherit;
}

.retweet-button {
  font-size: $small-font-size;
  color: $lightest-text-color;
  padding-right: 20px;

  .fa-retweet {
    font-size: 16px;
    line-height: 1;
    padding-right: 5px;
  }

  &:not(:disabled):hover, &:not(:disabled):hover > .fa-retweet, &.retweeted, &.retweeted > .fa-retweet {
    color: $retweet-color;
  }

  &:disabled {
    cursor: auto;
  }
}

.favorite-button {
  font-size: $small-font-size;
  color: $lightest-text-color;

  .fa-star {
    color: $inactive-color;
    font-size: 16px;
    line-height: 1;
    padding-right: 5px;
  }


  &:hover, &:hover > .fa-star, &.favorited, &.favorited > .fa-star {
    color: $favorite-color;
  }
}

.tweet-form {
  @include clearfix;
  background: $form-bg-color;
  padding: $padding;
  border: 1px solid $form-border-color;
  & > textarea {
    height: 37px;
    border-color: $form-border-color;
  }

  & > .controls {
    height: $tweet-form-controls-height;
    line-height: $tweet-form-controls-height;
    font-size: $base-font-size;
    margin-top: 7px;
    display: none;
    @include clearfix;
    & > .right-controls {
      float: right;
      @include clearfix;
      & > li {
        float: left;
        margin-left: $padding;
      }
    }

    & > .left-controls {
      float: left;
      @include clearfix;
      & > li {
        float: right;
        margin-right: $padding;
      }
    }
  }

  &.active > textarea {
    min-height: 100px;
  }
    
  &.active > .controls {
    display: block;
  }
}

.chars-remaining {
  line-height: $tweet-form-controls-height;
  &.chars-remaining-warning {
    color: $red;
  }
}

.reply-form > .tweet-form {
  border-color: $border-color;
  border-top: 0;
}

.widget {
  border-radius: $border-radius;
  background: white;
}

.user-widget {
  & > .user-info {
    padding: $padding;
    border: 1px solid $border-color;
    border-bottom: none;
    @include rounded-top;

    & > .user-full-name {
      display: block;
      color: $text-color;
      font-size: $large-font-size;
      font-weight: bold;
      line-height: 21px;
      &:hover {
        text-decoration: underline;
      }
    }

    & > .user-username {
      display: block;
      color: $lighter-text-color;
      font-size: $small-font-size;
      line-height: 16px;
      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }

  & .tweet-form {
      @include rounded-bottom;
    }
}

.reply-form, .ancestors, .descendants {
  display: none;
}

.expanded > .reply-form, .expanded > .ancestors, .expanded > .descendants {
  display: block;
}

.conversation:not(:first-child) .top-of-expanded, .tweet-show .top-of-expanded, .conversation:not(.expanded) .top-after-expanded {
  @include rounded-top;
}

.bottom-of-expanded, .conversation:not(.expanded) .bottom-before-expanded {
  @include rounded-bottom;
}

.expanded {
  &:not(:first-child) {
    margin-top: $padding;
  }

  &:not(:last-child) {
    margin-bottom: $padding;
  }
}

.conversation:not(.expanded):last-child > .main-tweet > .tweet {
  @include rounded-bottom;
}